
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">I make a range of slab built pots house signs and have lots of ways to personalise some of my own designs by adding birth or wedding details. My pots are slab built.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead">This means I roll out the clay and shape it to whatever design is desired. I add on the clay design. I then create a three dimension appearance by adding more clay. </p>
            </div>
        </div>
    </div>
</section>
