<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">15 Broadgate, Whaplode Drove, Spalding, Lincolnshire PE120TN</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4> <a href="https://www.instagram.com/pellpots/" target="_blank"><img src="/assets/img/ig.png" class="social" alt="Instagram"></a><a href="https://www.facebook.com/AmandaPellPots" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>
</a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT PELL POTS</h4>
                <p class="pre-wrap lead mb-0">Amanda Pell is a pottery artist who designs and makes pottery in Lincolnshire near Spalding.  </p>
            </div>
        </div>
    </div>
</footer>
